<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
              <h3 class="title"><%= blog.title %></h3>  
              <p class="snippet"><%= blog.snippet %></p>  
        <% }) %>
            <h3></h3>
            <p></p>
            
        <% } else { %>
            <h3>There's no Blog</h3>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>